/* CANVAS */

canvas.ge_canvas {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    z-index: var(--z02-canvas);
}