.ge_assing_marker {
    margin-left: -15px;
	color: var(--ui-highlight-color);
}

.ge_assing_marker_on {
    margin-left: -15px;
    color: red;
}

.ge_assing_marker:hover {
	color: red;
}

.cm-searching {
	background: rgba(133, 204, 196,0.3);
}