/* EDITOR */

.CodeMirror {
    font-family: var(--editor-font-family);
    font-size: 14px;
    line-height: 1.4;
    /*height: 100%;*/
    height: auto;
    z-index: var(--z-editor);
    /*background: #171e22 !important;*/
}

.CodeMirror-linenumbers {
    padding: 0 8px;
    font-family: Helvetica, Geneva, sans-serif;
    /*background: #171e22 !important;*/
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
    color: #546E7A;
}
/* Slightly more padding around the text content */
.CodeMirror pre {
    padding: 0 8px;
}

.CodeMirror-vscrollbar {
	visibility: hidden;
}

.ge_editor-highlight {
    &.CodeMirror-linebackground:not(.CodeMirror-activeline-background) {
        /* A background color with alpha=1 overlaps the selection highlight
        This makes the selection visible through the highlighted line */
        /*background-color: rgba(255, 255, 0, 1.); */
        border-color: rgb(255, 255, 0);
        border-style: solid;
        border-width: 1px;
    }
    /*
    &.CodeMirror-linebackground.CodeMirror-activeline-background {
    }
    */

    &.CodeMirror-gutter-background:not(.CodeMirror-activeline-gutter) {
        /*background-color: var(--ui-element-color);*/
        background-color: rgb(255, 255, 0);
    }

    .CodeMirror-linenumber {
        /*color: white;*/
        color: rgb(0, 0, 0);
    }

    &.CodeMirror-activeline-gutter .CodeMirror-linenumber {
        color: var(--ui-highlight-color);
    }
}

.ge_editor-highlight .CodeMirror-gutter-background {
  opacity: 0.5;
  background: #ff0000;
}

.CodeMirror {
  margin-top: 12px;
}
