/* MENU */

.ge_menu {
    cursor: pointer;
    color: var(--ui-component-text-color);
    background-color: var(--ui-base-color);
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Helvetica, Geneva, sans-serif;
    font-weight: 500;
    z-index: var(--z03-menu);
}

li.ge_menu {
    cursor: pointer;
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 30px;
}
