/* MENU */

.ge_menu {
    cursor: pointer; 
    cursor: hand;
    color: white;
    background-color: black;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, sans-serif;
}

li.ge_menu {
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 30px;
}
