.ge_panel {
    cursor: pointer; 
    cursor: hand;
    color: var(--ui-component-text-color);
    background-color: var(--ui-base-color);
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 100;
    z-index: var(--z03-menu);
}

li.ge_panel {
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 20px;
}

li.ge_panel_active {
    background-color: var(--ui-active-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

li.ge_panel:hover {
    color: var(--ui-highlight-color);
}

a.ge_panel_close {
    margin-left: 10px;
    font-weight: 100;
}