/* CANVAS */

div.ge_canvas_container {
    position: fixed;
    right: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
	z-index: var(--z-shader);
}

canvas.ge_canvas {
    margin: 0px;
    padding: 0px;
    /*position: fixed;*/
    /*right: 0px;*/
    /*overflow: hidden;*/
	z-index: var(--z-shader);
}

.ge_control {
	margin: 0px;
	padding: 5px;
	text-align: center;
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,.5);

    opacity: 1;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
    z-index: var(--z-shader);
}

.ge_control_hidden {
    /*display: none;*/
    opacity: 0;
}

.ge_control_element {
	background-color: rgba(0,0,0,0);
	color: var(--ui-component-text-color);
    font-family: Helvetica, Geneva, sans-serif;
    font-weight: 300;
	display: inline;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 20px;
}

.ge_control_element_button {
    height: 35px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    text-align: left;

    -moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ge_control_element_button::selection { background: transparent;color:inherit; }
.ge_control_element_button::-moz-selection { background: transparent;color:inherit; }

.ge_control_element_button:hover {
    color: var(--ui-highlight-color);
}

.ghostdom {
	background: #999;
	opacity: 0.2;

	position: absolute;
	right: 0px;
	margin: 0;
	padding: 0;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	z-index: var(--z-shader-ghost);
}
