html, body {
    background-color: rgb(39, 40, 34);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Fixes drag issue when attempting to drag a file into non-editor portion of the page. */
#glsl_editor {
    display: block;
    height: 100%;
}